* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("../images/sushiback.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
}

.sample-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-image: url("../images/sushiback.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.sample-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: MidnightBlue;
  opacity: 0.3;
}
.sample-header-section {
  position: relative;
  padding: 15% 0 10%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

.sample-section-wrap {
  position: relative;
  background-color: white;
}
.sample-section {
  position: relative;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.page-home {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

.page-reserv {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.content-reserv {
  width: 100%;
  height: auto;
}

.items-sort {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

nav a {
  color: white;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-bar {
  background-color: white;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  z-index: 2;
  transition: background-color 300ms linear;
}

.center-nav {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer-bar {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  bottom: 0px;
  background-color: rgb(216, 84, 84);
}

.down-foot {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.blok-foot {
  width: 33%;
  height: 320px;
  color: white;
  background-color: rgb(216, 84, 84);
}

@media (max-width: 800px) {
  .blok-foot {
    width: 150px;
    height: auto;
    color: white;
    background-color: rgb(216, 84, 84);
    margin-bottom: 1em;
  }
}

.blok-foot a {
  text-decoration: none;
  color: white;
}

@media (max-width: 800px) {
  .down-foot {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.logo {
  margin-left: 0px;
  margin-top: 5px;
  width: auto;
  height: auto;
}

.nav-bar.scrolled {
  background-color: rgb(216, 84, 84) !important;
  transition: background-color 300ms linear;
}

.inner-page-home {
  height: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

.pop-menu {
  height: auto;
  width: 100%;
}

.pop-row {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.pop-dish {
  height: auto;
  width: 45%;
  display: flex;
}

.pic-dish img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.text-dish {
  height: 250px;
  width: auto;
  background-color: aliceblue;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.next-page {
  width: 100%;
  height: 500px;
  background-color: rgb(61, 59, 61);
}

.intro-menu {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  color: white;
  font-size: 2em;
}

.center-login {
  width: auto;
  height: auto;
  padding-top: 10em;
  padding-bottom: 10em;
}

.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: rgb(214, 109, 109);
  box-shadow: 0px 0px 40px 16px rgba(230, 123, 123, 0.22);
  color: #f1f1f2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color: black;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: rgb(195, 194, 194);
  border-color: 1px black solid;
  border: 0;
  color: #000;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  width: 100%;
}
input::-moz-focus-inner {
  border: 0;
}
#submit {
  color: black;
  background-color: white;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}

@import url("https://rsms.me/inter/inter-ui.css");
::selection {
  background: #2d2f36;
}
::-webkit-selection {
  background: #2d2f36;
}
::-moz-selection {
  background: #2d2f36;
}

.content-res-page {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.reserveer-tab {
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
}

.img-reserveer {
  height: 450px;
  width: auto;
}

.function-reserveer {
  height: 450px;
  width: 100%;
  padding: 5px;
}

.blok-res {
  width: 100%;
  color: black;
}

.blok-res label {
  color: black;
}

.blok-res input {
  color: black;
  font-size: small;
  background-color: rgb(236, 232, 232);
}

.form-res {
  width: 100%;
  height: auto;
}

.custom-btn {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-4 {
  position: relative;
  color: #000;
  z-index: 2;
  line-height: 40px;
  padding: 0;
}
.btn-4:hover {
  border: none;
}
.btn-4:before,
.btn-4:after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  border: 2px solid;
  z-index: -1;
  transition: all 0.3s ease;
}
.btn-4:before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #000;
  border-left-color: #000;
}
.btn-4:after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #000;
  border-right-color: #000;
}
.btn-4:hover:before,
.btn-4:hover:after {
  border-color: #000;
  height: 100%;
  width: 100%;
}

.center-res {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

.masonry img {
  width: 100%;
}

.masonry {
  column-count: 4;
  column-gap: 16px;
}

.masonry .mItem {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
}

@media (max-width: 1199px) {
  .masonry {
    column-count: 3;
  }
}

@media (max-width: 991px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 767px) {
  .masonry {
    column-count: 1;
  }
}

.menu-card-lay {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.card-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
}

.menu-item {
  position: relative;
  display: flex;
  width: 375px;
  height: 250px;
  margin-bottom: 1em;
  margin-right: 1em;
}

.menu-item:hover .menu-info {
  opacity: 1;
}

.menu-item img {
  height: 250px;
}

.menu-info {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
  background-color: rgba(216, 84, 84, 0.5);
}

.page-panel {
  width: 55%;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
}

.warp-this {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: center;
}

.description {
  width: 100%;
  height: auto;
  background-color: grey;
  display: flex;
  justify-content: center;
}

.align-search {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
}

.search-nav {
  background-color: white;
  width: 50%;
  font-size: medium;
}
